h1{
    color: aqua
}
#titulo{
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 40px
}
.carne{
    color: blue
}
.verduras{
    color: green
}
.frutas{
    color: yellow
}
img{
    width: 200px
}
